# SESTRAV Dependencies (Check noting this is tentative and is the idea for the requirements as of right now- this is to be changed and updated!)
biopython>=1.81
pandas>=2.0
numpy>=1.24
scikit-learn>=1.3
xgboost>=2.0
shap>=0.42
mhcflurry>=2.0
snakemake>=7.0
matplotlib>=3.7
seaborn>=0.12
requests>=2.28
